<div id="<%= dom_id tweet %>">
  <div class="card">
    <div class="card-body">
      <p>
        <strong>Body:</strong>
        <%= tweet.body %>
      </p>

      Likes: (<%= tweet.likes_count %>) | Retweets: (<%= tweet.retweets_count %>)

    </div>
  </div>
</div>
